<h2>Live Dashboard</h2>

<!-- <div class="messages">
  <%#= render @messages %>
</div> -->


<div class="row">
  <div class=" col-xs-12 col-lg-3">
    <div class="card brand-dd sale">
      <div class="card-header">
        Sale
      </div>
      <div class="card-block clearfix">
        <strong class="card-value"><small>AED </small>100,960<small>.35</small></strong>
      </div>
      <div class="card-footer clearfix">
        <div class="card-order-number">

        </div>
        <!-- <div class="card-order-percentage up">
          <i class="fa fa-caret-up" aria-hidden="true"></i> 57<small>%</small>
        </div> -->
      </div>
    </div>
  </div>
  <div class=" col-xs-12 col-lg-3">
    <div class="card brand-dd refund">
      <div class="card-header">
        Refund
      </div>
      <div class="card-block">
        <strong class="card-value"><small>AED </small>100,960<small>.35</small></strong>
      </div>
      <div class="card-footer">
        <div class="card-order-number">

        </div>
        <!-- <div class="card-order-percentage down">
          <i class="fa fa-caret-down" aria-hidden="true"></i> 15<small>%</small>
        </div> -->
      </div>
    </div>
  </div>
  <div class=" col-xs-12 col-lg-3">
    <div class="card brand-med-fx tip">
      <div class="card-header">
        Tip
      </div>
      <div class="card-block clearfix">
        <strong class="card-value"><small>AED </small>2,960<small>.35</small></strong>
      </div>
      <div class="card-footer clearfix">
        <div class="card-order-number">

        </div>
        <!-- <div class="card-order-percentage up">
          <i class="fa fa-caret-up" aria-hidden="true"></i> 57<small>%</small>
        </div> -->
      </div>
    </div>
  </div>
  <div class=" col-xs-12 col-lg-3">
    <div class="card brand-med-fx void">
      <div class="card-header">
        Void
      </div>
      <div class="card-block clearfix">
        <strong class="card-value"><small>AED </small>2,960<small>.35</small></strong>
      </div>
      <div class="card-footer clearfix">
        <div class="card-order-number">

        </div>
        <!-- <div class="card-order-percentage up">
          <i class="fa fa-caret-up" aria-hidden="true"></i> 57<small>%</small>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="row charts">
  <div class="col-xs-6">
    <div id="container"</div>
  </div>
</div>