// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$card-bg: #252830;
$card-text-color: #666;
$card-border: #434857;
$brand-color-dd: #E81280;
$brand-color-medfx: #74b8ad;
$transparent: rgba(255,255,255,0.0);
$gray-bg: #434857;
$blue-bg: #1ca8dd;

.card {
  background-color: $transparent;
  color: #fff;
  border-radius: 0;
  border: 1px solid $card-border;
  color: $card-text-color;

  &.brand-dd {
    border-top: 5px solid $brand-color-dd;
  }
  &.brand-med-fx {
    border-top: 5px solid $brand-color-medfx;
  }
  .card-header {
    background-color: $card-bg;
    // border-bottom: 0;
    border-bottom: 1px solid #373b45;
    color: #E4E1E1;
    text-transform: uppercase;
  }
  .card-value {
    color: #fff;
    font-size: 1.8rem;
  }
  .card-footer {
    background-color: $card-bg;
    border-top: 0;
    font-size: 0.8rem;
  }
  .up {
    color: #39b54a
  }
  .down {
    color: #ff1d25
  }
  .card-order-number {
    position: absolute;
    bottom: 16px;
    left: 20px;
    margin-top: 10px;
    line-height: normal;
  }
  .card-order-percentage {
    position: absolute;
    bottom: 12px;
    right: 20px;
    font-size: 2rem;
    line-height: normal;
    .fa {
      font-size: 1.2rem;
    }
  }
}

.charts #chart-container {
  min-width: 310px;
  height: 25rem;
  margin: 0 auto;
}

nav.navbar {
  margin-bottom: 20px;
  border-radius: 0px;
  border-bottom: 1px solid $gray-bg;

  .navbar-brand {
    padding-left: 35px;
    background: image-url('swiftch-logo') no-repeat;
    background-size: 30px 30px;
    background-position: 0px 4px;
    font-weight: 500;
  }
}

form {
  .form-group {
    margin-bottom: 0.6rem;
  }

  .form-control-label {
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
  }

  i {
    font-size: 11px;
    display: block;
    color: $card-text-color;
    font-style: normal;
  }

  #error_explanation {
    h2{
      font-size: 14px;
      color: #ff5959;
    }
    ul {
      color: #ff5959;
      list-style: none;
      padding-left: 0px;
      font-size: 14px;
    }
  }
}

.shared-links {
  margin-top: 20px;
}

footer {
  position: relative;
  margin-top: 20px;
  bottom: 0;
  .copyright {
    text-align: center;
    padding: 20px;
    margin: 0 auto 0;
    color: #5e6579;
    font-weight: 200;
    font-size: 12px;
  }
}