// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$card-bg: #252830;
$card-text-color: #666;
$brand-color-dd: #E81280;
$brand-color-medfx: #74b8ad;
$transparent: rgba(255,255,255,0.0);


.card {
  background-color: $transparent;
  color: #fff;
  border-radius: 0;
  border: 1px solid #434857;
  color: $card-text-color;
  &.brand-dd {
    border-top: 5px solid $brand-color-dd;
  }
  &.brand-med-fx {
    border-top: 5px solid $brand-color-medfx;
  }
  .card-header {
    background-color: $card-bg;
    border-bottom: 0;
    color: #E4E1E1;
    text-transform: uppercase;
  }
  .card-value {
    color: #fff;
    font-size: 1.8rem;
  }
  .card-footer {
    background-color: $card-bg;
    border-top: 0;
  }
  .up {
    color: #39b54a
  }
  .down {
    color: #ff1d25
  }
  .card-order-number {
    position: absolute;
    bottom: 16px;
    left: 20px;
    margin-top: 10px;
    line-height: normal;
  }
  .card-order-percentage {
    position: absolute;
    bottom: 12px;
    right: 20px;
    font-size: 2rem;
    line-height: normal;
    .fa {
      font-size: 1.2rem;
    }
  }
}

.charts #chart-container {
  min-width: 310px;
  height: 25rem;
  margin: 0 auto;
}

